name: Generic Consumer and Publisher of Elastic Config file
run-name: Generic Consumer and Publisher of Elastic Config file
on:
  workflow_dispatch:
    inputs:
      host_name_input:
        description: 'A variable to pass to the external job'
        required: true
        default: 'default-value'

jobs:
  call-elastic-configuration-file:
    # Call the reusable workflow directly within the job
    uses: ./.github/workflows/publish-elastic-configuration-file.yml
    with:
      # Pass the dispatch input to the reusable workflow's input
      network_host: ${{ github.event.inputs.host_name_input }}

  use-variable-job:
    runs-on: ubuntu-latest
    needs: call-elastic-configuration-file
    steps:
      - name: Access the variable from the called workflow
        run: |
          # Reference the output using the needs context
          PUBLISHED_FILE="${{ needs.call-elastic-configuration-file.outputs.elastic_configuration_file_output }}"
          echo "The published file from the external job is:"        
          echo "$PUBLISHED_FILE"

