name: Generic Consumer and Publisher of Elastic Config file
on:
  workflow_dispatch:
    inputs:
      host_name_input:
        description: 'A variable to pass to the external job'
        required: true
        default: 'default-value'

jobs:
  elastic_configuration_file:
    # Call the reusable workflow directly within the job
    uses: ./.github/workflows/publish-elastic-configuration-file.yml
    with:
      # Pass the dispatch input to the reusable workflow's input
      host_name: ${{ github.event.inputs.host_name_input }}

  use-variable-job:
    runs-on: ubuntu-latest
    needs: elastic_configuration_file
    steps:
      - name: Access the variable from the called workflow
        run: |
          echo "The variable from the called workflow is:"
          # Access the output using the needs context
          echo "${{ needs.elastic_configuration_file.outputs.elastic_configuration_file_output }}

