name: Publish Elastic Configuration File
run-name:  Publish Elastic Configuration File
on:
  workflow_call:
    inputs:
      network_host:
        required: true
        type: string
      xpack_security_enabled:
        required: false
        type: boolean
        default: false
    # secrets:
    #   elasticsearch_password:
    #     required: true
    outputs:
      elastic_configuration_file_output:
        value: ${{ jobs.elastic-configuration-file.outputs.elastic_configuration_file_job }}

jobs:
  elastic-configuration-file:
    runs-on: ubuntu-latest
    outputs:
      # Map the step's output to the job's output
      elastic_configuration_file_job: ${{ steps.create-text.outputs.my_output }}    
    steps:
      - name: Create Multiline Text
        id: create-text
        run: |
          EOF=$(dd if=/dev/urandom bs=15 count=1 status=none | base64)
          echo "text<<$EOF" >> $GITHUB_OUTPUT
          echo "Hello World" >> $GITHUB_OUTPUT
          echo "Host: ${network_host}" >> $GITHUB_OUTPUT
          echo "$EOF" >> $GITHUB_OUTPUT
                  
          # Sanitize output (escape newlines/quotes) for GITHUB_OUTPUT
          # text="${text//'%'/'%25'}"
          # text="${text//$'\n'/'%0A'}"
          # text="${text//$'\r'/'%0D'}"
          
          # Set output
          echo "my_output=$text" >> $GITHUB_OUTPUT    
        shell: bash

